@CHARSET "UTF-8";

body {
	font: 100% Verdana, Arial, Helvetica, sans-serif;
	background: #CAE1FF;
	margin: 0;
	padding: 0;
	color: #1C1C1C;
	text-align: center;
}

.menu { /* Меню */
	background: #A2B5CD;
	float: left;
	margin-top: 10px;
	margin-left: 10px;
	text-align: left;
	padding: 10px 20px 10px 5px;
	border: solid 1px #6E7B8B;
}

.menu a { /* ссылки */
	font-style: italic;
	font-weight: bold;
	color: #1C1C1C;
	text-align: left;
}

.text {
	width: 200px;
	background: #fc0;
	padding: 5px;
	float: left;
	position: relative;
	top: 40px;
	left: -70px;
}

table {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-align: center;
	border: 1px solid #6E7B8B;
	border-collapse: collapse;
	position: relative;
	left: 20px;
	top: 15px;
}

th, td {
	background: #AFCDE7;
	border: 1px solid #6E7B8B;
	text-align: right;
}

td {
	background: #CAE1FF;
}