<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>Hotel_UI</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>ViewRooms</display-name>
		<servlet-name>ViewRooms</servlet-name>
		<servlet-class>com.danco.servlet.ViewRoomsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ViewRooms</servlet-name>
		<url-pattern>/ViewRooms</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Authentication</display-name>
		<servlet-name>Authentication</servlet-name>
		<servlet-class>com.danco.main.servlet.Authentication</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Authentication</servlet-name>
		<url-pattern>/Authentication</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>View</display-name>
		<servlet-name>View</servlet-name>
		<servlet-class>com.danco.view.servlet.View</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>View</servlet-name>
		<url-pattern>/View</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>ViewGuest</display-name>
		<servlet-name>ViewGuest</servlet-name>
		<servlet-class>com.danco.view.servlet.ViewGuest</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ViewGuest</servlet-name>
		<url-pattern>/ViewGuest</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ViewRoom</display-name>
		<servlet-name>ViewRoom</servlet-name>
		<servlet-class>com.danco.view.servlet.ViewRoom</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ViewRoom</servlet-name>
		<url-pattern>/ViewRoom</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ViewService</display-name>
		<servlet-name>ViewService</servlet-name>
		<servlet-class>com.danco.view.servlet.ViewService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ViewService</servlet-name>
		<url-pattern>/ViewService</url-pattern>
	</servlet-mapping>
	<filter>
		<display-name>LoginFilter</display-name>
		<filter-name>LoginFilter</filter-name>
		<filter-class>com.danco.filter.LoginFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>LoginFilter</filter-name>
		<url-pattern>/main/*</url-pattern>
		<url-pattern>/view/*</url-pattern>
		<url-pattern>/change/*</url-pattern>
	</filter-mapping>
	<filter>
		<display-name>AuditFilter</display-name>
		<filter-name>AuditFilter</filter-name>
		<filter-class>com.danco.filter.AuditFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AuditFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
</web-app>